@import "faq/style";
@import "main/style";
@import "schedule/style";
@import "admin/style";
@import "promo/style";

.basicPage {
  border-radius: $border-radius-lg * 2 $border-radius-lg * 2 0 0;
  background-color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-top: 6rem;
  min-height: calc(100vh - #{$spacer} * 6);
}

.miniMenu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  li {
    a {
      color: $primary;
      font-family: $headings-font-family;
      text-transform: uppercase;
      font-size: .85rem;
    }
    &:not(:last-child) {
      padding-right: 1rem;
      margin-right: 1rem;
      position: relative;
      &:after {
        content: "•";
        position: absolute;
        right: -5px;
        width: 10px;
        display: block;
        text-align: center;
        top: 0;
        color: $secondary;
      }
    }
  }
}
